.container {
  display: inline-flex;
  padding: 10px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  background: hsla(31, 31%, 77%, 1);
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
  width: fit-content;
}

.title {
  color: #000;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img {
}
